:root {
  --purple: #B1B0CE;
  --purple-2: #6E6CB0;
  --purple-3: #3734B6;
  --purple-4: #1D1B86;
  
  --gray: #A7A7A7;
  --gray-2: #848484;
  --gray-3: #5B5454;

  --black: #000000;

  --white: #FFFFFF;
  --white-2: #F1EEEE;
  --white-3:#F8F8F8;
  --transparent: #5B5454;


  --regular: 400;
  --medium: 500;
  --bold: 700;
}